body {
  background-color: white;

}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

nav {
  display: flex;
 


}