body {
  background-color: white;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px
}


.prework img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.Horiseon img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

aside {
  padding: 20px
}

li {
  padding: 5px
}

header,
footer {
  width: 100%;
  line-height: 100px;
  color: gold;
  background-color: forestgreen;
  padding-bottom: 10px;
}