body {
  background-color: white;

}
.header {
  justify-content: flex-start;
}

header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px
}

nav {
  display: inline-flex;   
  width: 100%;
  justify-content: space-between;
  padding: 10px
}

aside {
  padding: 20px
}

footer {
  padding: 20px
}

li {
  padding: 5px
}